<div class="banner">
  <div class="banner-tittle">
    <h1>Welcome to Finance Tracker!</h1>
    <p>log in to get started</p>
    <%= link_to "Log in", new_user_session_path, class:"btn btn-primary" %>
    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary" %>
  </div>
</div>
