@import 'bootstrap/dist/css/bootstrap';

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.result-block {
  display: inline-block !important;
}

body {
  background-color: rgba(226, 226, 252, 0.951) !important;
}




.banner {
  color: black;
  padding: 10% 0;
}

.banner-tittle {
  width: 50%;
}

.banner-tittle h1 {
  margin-bottom: 50px;
}

.page-title {
  text-align: center;
  margin: 5%;
}

.table {
  margin: 5% 0 !important;
}
